@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Open+Sans:wght@300&display=swap");

:root {
  --transition: all 0.5s ease-in-out;
  --mainBackground: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(209, 209, 209, 1) 100%
  );
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: rgb(255, 255, 255);
  background: var(--mainBackground);
  cursor: crosshair;
}

#current-word {
  top: 0;
  left: 0;
  position: fixed;
  font-size: 25vw;
  z-index: 2;
  color: rgb(216, 216, 216);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
  font-family: "Open Sans", sans-serif;
  font-family: "Noto Sans JP", sans-serif;

  @media screen and (max-width: 768px) {
    writing-mode: vertical-rl;
    transform: translate(-50%, -50%) rotate(-180deg);
  }
}

#buttons {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#generate-btn-en {
  top: 2%;
  left: 2%;
}

#generate-btn-jp {
  top: 2%;
  right: 2%;
}

#generate-btn-fr {
  bottom: 2%;
  right: 2%;
}

#generate-btn-de {
  bottom: 2%;
  left: 2%;
}

.btn {
  z-index: 2;
  position: fixed;
  font-size: 1.5vw;
  background: transparent;
  border-radius: 20px;
  color: grey;
  transition: var(--transition);
  backdrop-filter: blur(50px);
  background-color: rgba(0, 0, 0, 0.064);
  border: none;
  padding: 0.5vw;

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }

  &:focus {
    color: rgb(112, 112, 112);
  }

  @media screen and (max-width: 768px) {
    font-size: 6vw;
    padding: 1.5vw;
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
  }
}

#haiku-output {
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 2vw;
  color: rgb(160, 160, 160);
  font-family: Arial, sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  pointer-events: none;

  @media screen and (max-width: 768px) {
    font-size: 6vw;
  }
}

#loader {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  color: rgb(145, 145, 145);
  font-family: Arial, sans-serif;
  pointer-events: none;

  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  @media screen and (max-width: 768px) {
    font-size: 10vw;
  }
}

.flipped-text {
  @media screen and (max-width: 768px) {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
  }
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  white-space: nowrap;
}

.blink {
  -webkit-animation: fadeInOut 3s infinite;
  animation: fadeInOut 3s infinite;
}

@-webkit-keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.fade-blur {
  animation: fadeBlur 3s forwards;

  @media screen and (max-width: 768px) {
    animation: unset;
  }
}

@keyframes fadeBlur {
  0% {
    filter: blur(8px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
